<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.productive" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Productive" >
        <activity
            android:name=".tasks"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".tutorial"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".AlramReciever" />

    </application>

</manifest>